NodeRed/flows-2.json
[{"id":"4c3d915b.47216","type":"tab","label":"Spalikan","disabled":false,"info":""},{"id":"d017a4d.c469e58","type":"csv","z":"4c3d915b.47216","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":870,"y":540,"wires":[["ac800117.46a31","7e2c0634.602cf8"]]},{"id":"2af8f921.acc206","type":"file in","z":"4c3d915b.47216","name":"","filename":"/home/ubuntu/output_rkv_ak_pm10_no2.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":430,"y":540,"wires":[["d017a4d.c469e58"]]},{"id":"ac800117.46a31","type":"switch","z":"4c3d915b.47216","name":"Switch station","property":"payload.station_local_id","propertyType":"msg","rules":[{"t":"eq","v":"Reykjavik","vt":"str"},{"t":"eq","v":"Akureyri","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":540,"wires":[["77517793.6b2138","d6beb8b8.b632e8"],["97fc1827.03cc58"]]},{"id":"97fc1827.03cc58","type":"switch","z":"4c3d915b.47216","name":"Akureyri Switch Pollutant","property":"payload.efni","propertyType":"msg","rules":[{"t":"eq","v":"PM10","vt":"str"},{"t":"eq","v":"NO2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":800,"wires":[["6193b5bd.5b064c","a6878417.1c0528"],["dfb3a453.d93218","d2853c07.7e6a8","5bd13064.7e2f4"]]},{"id":"6193b5bd.5b064c","type":"change","z":"4c3d915b.47216","name":"PM 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\": \"addData\",\t    \"arguments\": [\t        msg.payload,\t        true\t    ],\t    \"returnPromise\": true\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":800,"wires":[["41bd62dd.7ed10c"]]},{"id":"dfb3a453.d93218","type":"change","z":"4c3d915b.47216","name":"NO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\": \"addData\",\t    \"arguments\": [\t        msg.payload,\t        true\t    ],\t    \"returnPromise\": true\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":760,"wires":[["c144df56.e8b7a"]]},{"id":"77517793.6b2138","type":"switch","z":"4c3d915b.47216","name":"RKV Switch Pollutant","property":"payload.efni","propertyType":"msg","rules":[{"t":"eq","v":"NO","vt":"str"},{"t":"eq","v":"NO2","vt":"str"},{"t":"eq","v":"NOX as NO2","vt":"str"},{"t":"eq","v":"SO2","vt":"str"},{"t":"eq","v":"PM10","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1360,"y":520,"wires":[["d646a4a4.ce0ec8","e70e55e1.a9b1d8"],["8baada18.db6058","d599ab22.7e2ab8"],["60974991.8b0528","f7139f61.029c7"],["e3de251f.115af8","1b3ae274.4653ae"],["be7ed7ac.55ba78","d0f08879.e21668","3ad08925.49f766"]]},{"id":"60974991.8b0528","type":"change","z":"4c3d915b.47216","d":true,"name":"NOX as NO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\": \"addData\",\t    \"arguments\": [\t        msg.payload,\t        true\t    ],\t    \"returnPromise\": true\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":420,"wires":[[]]},{"id":"e70e55e1.a9b1d8","type":"change","z":"4c3d915b.47216","d":true,"name":"NO","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\": \"addData\",\t    \"arguments\": [\t        msg.payload,\t        true\t    ],\t    \"returnPromise\": true\t}\t","tot":"jsonata"},{"t":"delete","p":"payload.pollutantnotation","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":340,"wires":[[]]},{"id":"8baada18.db6058","type":"change","z":"4c3d915b.47216","name":"NO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\": \"addData\",\t    \"arguments\": [\t        msg.payload,\t        true\t    ],\t    \"returnPromise\": true\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":460,"wires":[["6c20f25a.19599c"]]},{"id":"e3de251f.115af8","type":"change","z":"4c3d915b.47216","d":true,"name":"SO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\": \"addData\",\t    \"arguments\": [\t        msg.payload,\t        true\t    ],\t    \"returnPromise\": true\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":380,"wires":[[]]},{"id":"be7ed7ac.55ba78","type":"change","z":"4c3d915b.47216","name":"PM 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\": \"addData\",\t    \"arguments\": [\t        msg.payload,\t        true\t    ],\t    \"returnPromise\": true\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":500,"wires":[["71784e81.ad49d"]]},{"id":"bc2bd5c3.59e738","type":"delay","z":"4c3d915b.47216","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":700,"wires":[["51651c14.c60724","2af8f921.acc206"]]},{"id":"2904f657.7ae57a","type":"function","z":"4c3d915b.47216","name":"Smíða töflu","func":"msg.payload=[\n    {\n        \"station_local_id\": \"\",\n        \"efni\": \"\",\n        \"datetime\": \"\",\n        \"gildi\": \"\",\n        //\"resolution\": \"\",\n        //\"verification\": \"\",\n        //\"station_local_id\": \"\",\n        //\"concentration\": \"\"\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":920,"wires":[["6c20f25a.19599c","71784e81.ad49d","41bd62dd.7ed10c","c144df56.e8b7a"]]},{"id":"257b4961.82c586","type":"inject","z":"4c3d915b.47216","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":760,"wires":[["8e4e199f.305a38","2904f657.7ae57a"]]},{"id":"a16f855a.7f0928","type":"inject","z":"4c3d915b.47216","name":"clear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1450,"y":1320,"wires":[["bbadc59d.4191a8"]]},{"id":"d646a4a4.ce0ec8","type":"function","z":"4c3d915b.47216","d":true,"name":"Smíða RKV NO fylki","func":"var a = flow.get(\"RKV_NO_gildi\") || 0;\na.push(msg.payload.gildi);\nflow.set(\"PCC_NO_gildi\", a);\n\nvar b = flow.get(\"PCC_NO_timi\") || 0;\nb.push(msg.payload.datetime);\nflow.set(\"PCC_NO_timi\", b);\n\nreturn;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":540,"wires":[[]]},{"id":"92f6cfcc.2cb45","type":"change","z":"4c3d915b.47216","d":true,"name":"Preppa RKV NO graf","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t    \"series\": [\"RKV_NO\"],\t    \"data\": [msg.RKV_NO_gildi],\t    \"labels\": msg.RKV_NO_timi,\t    \"color\": [\"#9467BD\"]\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1000,"wires":[[]]},{"id":"d599ab22.7e2ab8","type":"function","z":"4c3d915b.47216","name":"Smíða RKV NO2 fylki","func":"var a = flow.get(\"RKV_NO2_gildi\") || 0;\na.push(msg.payload.gildi);\nflow.set(\"RKV_NO2_gildi\", a);\n\nvar b = flow.get(\"RKV_NO2_timi\") || 0;\nb.push(msg.payload.datetime);\nflow.set(\"RKV_NO2_timi\", b);\n\nreturn;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":700,"wires":[[]]},{"id":"f7139f61.029c7","type":"function","z":"4c3d915b.47216","d":true,"name":"Smíða RKV NOX fylki","func":"var a = flow.get(\"RKV_NOX_gildi\") || 0;\na.push(msg.payload.gildi);\nflow.set(\"RKV_NOX_gildi\", a);\n\nvar b = flow.get(\"RKV_NOX_timi\") || 0;\nb.push(msg.payload.datetime);\nflow.set(\"RKV_NOX_timi\", b);\n\nreturn;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":620,"wires":[[]]},{"id":"1b3ae274.4653ae","type":"function","z":"4c3d915b.47216","d":true,"name":"Smíða RKV SO2 fylki","func":"var a = flow.get(\"RKV_SO2_gildi\") || 0;\na.push(msg.payload.gildi);\nflow.set(\"RKV_SO2_gildi\", a);\n\nvar b = flow.get(\"RKV_SO2_timi\") || 0;\nb.push(msg.payload.datetime);\nflow.set(\"RKV_SO2_timi\", b);\n\nreturn;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":580,"wires":[[]]},{"id":"d0f08879.e21668","type":"function","z":"4c3d915b.47216","name":"Smíða RKV PM10 fylki","func":"var a = flow.get(\"RKV_PM10_gildi\") || 0;\na.push(msg.payload.gildi);\nflow.set(\"RKV_PM10_gildi\", a);\n\nvar b = flow.get(\"RKV_PM10_timi\") || 0;\nb.push(msg.payload.datetime);\nflow.set(\"RKV_PM10_timi\", b);\n\nreturn;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":660,"wires":[[]]},{"id":"c433ac20.2f13d","type":"comment","z":"4c3d915b.47216","name":"Smíða nýja töflu línu","info":"Preppa töflu input","x":1710,"y":260,"wires":[]},{"id":"4b1af6c0.689618","type":"comment","z":"4c3d915b.47216","name":"Uppfæra töflu","info":"Preppa töflu input","x":2010,"y":260,"wires":[]},{"id":"1074713f.aa63bf","type":"change","z":"4c3d915b.47216","name":"Preppa RKV NO2 graf","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t    \"series\": [\"RKV_NO2\"],\t    \"data\": [msg.RKV_NO2_gildi],\t    \"labels\": msg.RKV_NO2_timi\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1160,"wires":[["c0656a02.8f19e8"]]},{"id":"51651c14.c60724","type":"delay","z":"4c3d915b.47216","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":1000,"wires":[["ce31c422.672a68"]]},{"id":"8e4e199f.305a38","type":"change","z":"4c3d915b.47216","name":"Hreinsa gögn","rules":[{"t":"set","p":"AK_PM10_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"AK_PM10_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"AK_NO2_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"AK_NO2_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NO_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NO_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NO2_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NO2_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NOX_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NOX_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_SO2_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_SO2_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_PM10_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_PM10_timi","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["bc2bd5c3.59e738"]]},{"id":"ce31c422.672a68","type":"change","z":"4c3d915b.47216","name":"Stilla fylki","rules":[{"t":"set","p":"RKV_NO_gildi","pt":"msg","to":"RKV_NO_gildi","tot":"flow"},{"t":"set","p":"RKV_NO_timi","pt":"msg","to":"RKV_NO_timi","tot":"flow"},{"t":"set","p":"RKV_NO2_gildi","pt":"msg","to":"RKV_NO2_gildi","tot":"flow"},{"t":"set","p":"RKV_NO2_timi","pt":"msg","to":"RKV_NO2_timi","tot":"flow"},{"t":"set","p":"RKV_NOX_gildi","pt":"msg","to":"RKV_NOX_gildi","tot":"flow"},{"t":"set","p":"RKV_NOX_timi","pt":"msg","to":"RKV_NOX_timi","tot":"flow"},{"t":"set","p":"RKV_SO2_gildi","pt":"msg","to":"RKV_SO2_gildi","tot":"flow"},{"t":"set","p":"RKV_SO2_timi","pt":"msg","to":"RKV_SO2_timi","tot":"flow"},{"t":"set","p":"RKV_PM10_gildi","pt":"msg","to":"RKV_PM10_gildi","tot":"flow"},{"t":"set","p":"RKV_PM10_timi","pt":"msg","to":"RKV_PM10_timi","tot":"flow"},{"t":"set","p":"AK_PM10_gildi","pt":"msg","to":"AK_PM10_gildi","tot":"flow"},{"t":"set","p":"AK_PM10_timi","pt":"msg","to":"AK_PM10_timi","tot":"flow"},{"t":"set","p":"AK_NO2_gildi","pt":"msg","to":"AK_NO2_gildi","tot":"flow"},{"t":"set","p":"AK_NO2_timi","pt":"msg","to":"AK_NO2_timi","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1000,"wires":[["92f6cfcc.2cb45","1074713f.aa63bf","de20d33c.e03c4","cbf68db8.032e9","be25ed58.294c1","40d33b92.c5ec44","c6db7901.c06098","b57ad56b.6d3008"]]},{"id":"de20d33c.e03c4","type":"change","z":"4c3d915b.47216","d":true,"name":"Preppa RKV NOX graf","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t    \"series\": [\"RKV_NOX\"],\t    \"data\": [msg.RKV_NOX_gildi],\t    \"labels\": msg.RKV_NOX_timi\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1080,"wires":[[]]},{"id":"cbf68db8.032e9","type":"change","z":"4c3d915b.47216","d":true,"name":"Preppa RKV SO2 graf","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t    \"series\": [\"RKV_SO2\"],\t    \"data\": [msg.RKV_SO2_gildi],\t    \"labels\": msg.RKV_SO2_timi\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1040,"wires":[[]]},{"id":"be25ed58.294c1","type":"change","z":"4c3d915b.47216","name":"Preppa RKV PM10 graf","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t    \"series\": [\"RKV_PM10\"],\t    \"data\": [msg.RKV_PM10_gildi],\t    \"labels\": msg.RKV_PM10_timi\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":1120,"wires":[["8489f94e.69afe8","2e006ad6.cb8ef6"]]},{"id":"bbadc59d.4191a8","type":"change","z":"4c3d915b.47216","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1320,"wires":[["8489f94e.69afe8","c0656a02.8f19e8","acdffd80.63edf","9af5d765.d3c3d8"]]},{"id":"2fe83c55.9044a4","type":"watch","z":"4c3d915b.47216","d":true,"name":"","files":"C:\\Users\\kiddi\\OneDrive\\Documents\\NodeRed\\csvFiles\\","recursive":"","x":300,"y":940,"wires":[["3b8524e4.7e6b9c","b17da1de.e161f","2904f657.7ae57a"]]},{"id":"65b1c5e4.833a3c","type":"file in","z":"4c3d915b.47216","d":true,"name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":850,"y":1000,"wires":[["d017a4d.c469e58","4a345085.380c6"]]},{"id":"3b8524e4.7e6b9c","type":"delay","z":"4c3d915b.47216","d":true,"name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":1000,"wires":[["65b1c5e4.833a3c","f34b4098.83f22"]]},{"id":"b17da1de.e161f","type":"function","z":"4c3d915b.47216","d":true,"name":"","func":"var a = flow.get(\"LastUpdated\") || \"\";\na = msg.payload;\nflow.set(\"LastUpdated\", a);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1040,"wires":[[]]},{"id":"d6beb8b8.b632e8","type":"debug","z":"4c3d915b.47216","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":440,"wires":[]},{"id":"7e2c0634.602cf8","type":"debug","z":"4c3d915b.47216","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":480,"wires":[]},{"id":"3ad08925.49f766","type":"debug","z":"4c3d915b.47216","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":640,"wires":[]},{"id":"2e006ad6.cb8ef6","type":"debug","z":"4c3d915b.47216","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2010,"y":1080,"wires":[]},{"id":"7a9b601b.765e9","type":"debug","z":"4c3d915b.47216","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":900,"wires":[]},{"id":"f34b4098.83f22","type":"debug","z":"4c3d915b.47216","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1060,"wires":[]},{"id":"40d33b92.c5ec44","type":"debug","z":"4c3d915b.47216","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":960,"wires":[]},{"id":"463f456d.59934c","type":"complete","z":"4c3d915b.47216","name":"","scope":["8e4e199f.305a38","125d7144.7849af"],"uncaught":false,"x":1430,"y":1360,"wires":[["bbadc59d.4191a8"]]},{"id":"c0656a02.8f19e8","type":"ui_chart","z":"4c3d915b.47216","name":"","group":"921063d1.d07b3","order":1,"width":0,"height":0,"label":"NO2 [µg/m3]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2010,"y":1160,"wires":[[]]},{"id":"8489f94e.69afe8","type":"ui_chart","z":"4c3d915b.47216","name":"","group":"56479bdc.0868e4","order":1,"width":"0","height":"0","label":"PM10 [µg/m3]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffffff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2020,"y":1120,"wires":[[]]},{"id":"ee99ed68.1f1b2","type":"ui_ui_control","z":"4c3d915b.47216","name":"","events":"change","x":180,"y":820,"wires":[["7a9b601b.765e9","c75cc36d.bb74d"]]},{"id":"c144df56.e8b7a","type":"ui_table","z":"4c3d915b.47216","group":"d56c4c8.4dbcbb","name":"Akureyri NO2","order":2,"width":"16","height":"16","columns":[],"outputs":0,"cts":false,"x":2100,"y":760,"wires":[]},{"id":"41bd62dd.7ed10c","type":"ui_table","z":"4c3d915b.47216","group":"e97608eb.084248","name":"Akureyri PM10","order":2,"width":"16","height":"16","columns":[],"outputs":0,"cts":false,"x":2100,"y":800,"wires":[]},{"id":"6c20f25a.19599c","type":"ui_table","z":"4c3d915b.47216","group":"921063d1.d07b3","name":"RKV Norður NO2","order":2,"width":"16","height":"16","columns":[],"outputs":0,"cts":false,"x":2090,"y":460,"wires":[]},{"id":"71784e81.ad49d","type":"ui_table","z":"4c3d915b.47216","group":"56479bdc.0868e4","name":"RKV Norður PM10","order":2,"width":"16","height":"16","columns":[],"outputs":0,"cts":false,"x":2090,"y":500,"wires":[]},{"id":"4a345085.380c6","type":"change","z":"4c3d915b.47216","d":true,"name":"Hreinsa gögn","rules":[{"t":"set","p":"RKV_NO_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NO_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NO2_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NO2_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NOX_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_NOX_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_SO2_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_SO2_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_PM10_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"RKV_PM10_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"AK_NO2_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"AK_NO2_timi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"AK_PM10_gildi","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"AK_PM10_timi","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1000,"wires":[["51651c14.c60724"]]},{"id":"b57ad56b.6d3008","type":"change","z":"4c3d915b.47216","name":"Preppa AK NO2 graf","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t    \"series\": [\"AK_NO2\"],\t    \"data\": [msg.AK_NO2_gildi],\t    \"labels\": msg.AK_NO2_timi\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1240,"wires":[["9af5d765.d3c3d8"]]},{"id":"c6db7901.c06098","type":"change","z":"4c3d915b.47216","name":"Preppa AK PM10 graf","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t    \"series\": [\"AK_PM10\"],\t    \"data\": [msg.AK_PM10_gildi],\t    \"labels\": msg.AK_PM10_timi\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1200,"wires":[["acdffd80.63edf"]]},{"id":"acdffd80.63edf","type":"ui_chart","z":"4c3d915b.47216","name":"","group":"e97608eb.084248","order":1,"width":"0","height":"0","label":"PM10 [µg/m3]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2020,"y":1200,"wires":[[]]},{"id":"9af5d765.d3c3d8","type":"ui_chart","z":"4c3d915b.47216","name":"","group":"d56c4c8.4dbcbb","order":1,"width":0,"height":0,"label":"NO2 [µg/m3]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2010,"y":1240,"wires":[[]]},{"id":"d2853c07.7e6a8","type":"debug","z":"4c3d915b.47216","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":740,"wires":[]},{"id":"a6878417.1c0528","type":"function","z":"4c3d915b.47216","name":"Smíða AK PM10 fylki","func":"var a = flow.get(\"AK_PM10_gildi\") || 0;\na.push(msg.payload.gildi);\nflow.set(\"AK_PM10_gildi\", a);\n\nvar b = flow.get(\"AK_PM10_timi\") || 0;\nb.push(msg.payload.datetime);\nflow.set(\"AK_PM10_timi\", b);\n\nreturn;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":840,"wires":[[]]},{"id":"5bd13064.7e2f4","type":"function","z":"4c3d915b.47216","name":"Smíða AK NO2 fylki","func":"var a = flow.get(\"AK_NO2_gildi\") || 0;\na.push(msg.payload.gildi);\nflow.set(\"AK_NO2_gildi\", a);\n\nvar b = flow.get(\"AK_NO2_timi\") || 0;\nb.push(msg.payload.datetime);\nflow.set(\"AK_NO2_timi\", b);\n\nreturn;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":880,"wires":[[]]},{"id":"c75cc36d.bb74d","type":"delay","z":"4c3d915b.47216","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":820,"wires":[["2904f657.7ae57a","8e4e199f.305a38"]]},{"id":"b452b148.74a41","type":"function","z":"4c3d915b.47216","name":"Hæsta gildi","func":"var a = app \n\nif (msg.payload.gildi > 10000.0)\n{\n    commissionRate = 0.02;\n    level1Count++;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":260,"wires":[[]]},{"id":"921063d1.d07b3","type":"ui_group","z":"","name":"NO2","tab":"1d7d2f9c.bfc0a","order":2,"disp":true,"width":"16","collapse":false},{"id":"56479bdc.0868e4","type":"ui_group","z":"4c3d915b.47216","name":"PM10","tab":"1d7d2f9c.bfc0a","order":1,"disp":true,"width":"16","collapse":false},{"id":"d56c4c8.4dbcbb","type":"ui_group","z":"","name":"NO2","tab":"7d28388c.5c5d68","order":2,"disp":true,"width":"16","collapse":false},{"id":"e97608eb.084248","type":"ui_group","z":"","name":"PM 10","tab":"7d28388c.5c5d68","order":1,"disp":true,"width":"16","collapse":false},{"id":"1d7d2f9c.bfc0a","type":"ui_tab","z":"4c3d915b.47216","name":"Reykjavík Grensásvegur","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7d28388c.5c5d68","type":"ui_tab","z":"","name":"Akureyri","icon":"dashboard","order":2,"disabled":false,"hidden":false}]